<?xml version="1.0" encoding="UTF-8" ?>
<widget xmlns   = "http://www.w3.org/ns/widgets"
    xmlns:gap   = "http://phonegap.com/ns/1.0"
    id          = "com.stmikwp.pointingapp"
    versionCode = "10"
    version     = "1.0.0" >

<!-- versionCode is optional and Android only -->

  <name>Example Pointing Web App</name>

  <description>
      Ini merupakan contoh sederhana pointing aplikasi langsung ke web yang dituju
  </description>

  <author href="https://dosenprogramming.com" email="dosenprogramming@gmail.com">
      Reza
  </author>

  <access origin="*" />
  <allow-intent href="https://*/*" />
  <allow-navigation href="https://*/*" />
  

</widget>
